:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 1.5rem 5rem rgba(#000, 0.2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden; }

html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: var(--color-grey-dark-2);
  background: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)) no-repeat;
  background-size: cover; }

.logo {
  height: 3.2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral; }
  .search__input {
    width: 80%;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 10rem;
    padding: 0.7rem 2rem;
    margin-right: -3rem;
    transition: all 0.13s ease-out; }
    .search__input:focus {
      transition: all 0.13s ease-in;
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
  .search__icon {
    height: 2rem;
    width: 2rem; }

.user-nav {
  display: flex; }
  .user-nav__icon {
    height: 2.8rem; }
  .user-nav__user-photo {
    height: 3.7rem;
    border-radius: 50%; }

.container {
  width: 80%;
  margin: 6rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  border-radius: 4px;
  min-height: 90vh; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 6rem;
  background-color: white;
  border-bottom: 1px solid var(--color-grey-light-2); }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 20%; }

main {
  background-color: white;
  flex: 1; }
