:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --line: 1px solid var(--color-grey-light-2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 1100px) {
    html {
      font-size: 52%; } }

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  color: var(--color-grey-dark-2);
  background: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)) no-repeat;
  background-size: cover; }

/* Header Start */
.logo {
  height: 3.2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    width: 80%;
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 10rem;
    padding: 0.7rem 2rem;
    margin-right: -3rem;
    transition: all 0.13s ease-out; }
    .search__input:focus {
      transition: all 0.13s ease-in;
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.13s ease-out; }
    .user-nav > *:hover {
      transition: all 0.13s ease-in;
      background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.8rem;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    color: white;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.7rem;
    border-radius: 50%;
    margin-right: 1rem; }

/* Header End */
/* Side-nav Start */
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.4rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s ease-out, width 0.3s cubic-bezier(0.59, -0.06, 0.4, 0.94) 0.2s; }
    .side-nav__item:hover::before, .side-nav__item--active::before {
      transition: transform 0.2s ease-in, width 0.3s cubic-bezier(0.59, -0.06, 0.4, 0.94) 0.2s, background 0.12s;
      transform: scaleY(1);
      width: 100%; }
    .side-nav__item:active::before {
      background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    position: relative;
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem; }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    margin-right: 2rem;
    vertical-align: bottom; }

.legal {
  font-size: 1.3rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4); }

/* Side-nav End */
@media screen and (max-width: 900px) {
  .legal {
    display: none; }
  .side-nav {
    display: flex;
    margin: 1rem 0; }
    .side-nav__item {
      flex: 1;
      text-align: center; }
      .side-nav__item:not(:last-child) {
        margin: 0;
        margin-right: 0.5rem; } }

@media screen and (max-width: 600px) {
  .side-nav__link:link, .side-nav__link:visited {
    padding: 1.5rem 1.8rem; }
  .side-nav__icon {
    margin-right: 1rem; } }

.container {
  max-width: 120rem;
  margin: 6rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 4rem 10rem rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  height: 6rem;
  background-color: white;
  border-bottom: var(--line); }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

main {
  background-color: white;
  flex: 1; }

.detail {
  display: flex;
  padding: 4rem;
  font-size: 1.4rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }

.description {
  background-color: white;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  flex: 0 0 60%;
  margin-right: 4rem;
  padding: 2.5rem; }

.user-reviews {
  flex: 1; }
  .user-reviews .show-all-btn-box {
    text-align: center; }

@media screen and (max-width: 900px) {
  .container {
    margin: 0 auto;
    border-radius: 0;
    width: 100%; }
  .content {
    flex-direction: column; }
  .detail {
    padding: 2rem; }
  .description {
    margin-right: 2rem; } }

@media screen and (max-width: 600px) {
  .detail {
    flex-direction: column; }
  .description {
    margin-right: 0;
    margin-bottom: 2rem; } }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__location {
    display: flex;
    font-size: 1.2rem; }
  .overview__icon-location {
    margin-right: 6px; }
  .overview__icon-star, .overview__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .overview__rating {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-primary);
    margin-left: 2.6rem;
    padding: 0 2rem;
    text-align: center;
    color: white; }
  .overview__rating-average {
    font-size: 2.1rem; }
  .overview__rating-count {
    font-size: 7px;
    text-transform: uppercase; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  cursor: pointer;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  padding-bottom: 2px;
  display: inline-block;
  transition: all 0.12s ease-out; }
  .btn-inline span {
    transition: margin 0.12s ease-out;
    margin-left: 3px; }
  .btn-inline:focus {
    outline: none; }
  .btn-inline:hover {
    transition: all 0.12s ease-in;
    color: var(--color-grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.03);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .list__item {
    flex: 0 0 45%;
    margin-bottom: 0.7rem; }
    .list__item::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: 0.7rem;
      background-image: url(./../../img/chevron-thin-right.svg);
      background-size: cover; }
      @supports (mask-size: cover) or (-webkit-mask-size: cover) {
        .list__item::before {
          background-image: none;
          background-color: var(--color-primary);
          -webkit-mask-image: url(./../../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          -webkit-mask-position: center;
          mask-image: url(./../../img/chevron-thin-right.svg);
          mask-size: cover;
          mask-position: center; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: var(--color-grey-dark-3); }
  .recommend__photo {
    height: 4rem;
    border-radius: 50%;
    border: 3px solid white;
    box-sizing: content-box; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.15rem; }
  .recommend__friends {
    flex: 0 0 40%; }

.review {
  background-color: white;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden; }
  .review__text {
    position: relative;
    z-index: 100; }
  .review__user {
    display: flex;
    align-items: center;
    margin-top: 1.6rem; }
  .review__rating {
    margin-left: auto;
    font-size: 2rem;
    color: var(--color-primary); }
  .review__photo {
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .review__user-date {
    font-size: 1rem; }
  .review__user-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem; }
  .review::after {
    content: "\275D";
    display: inline-block;
    position: absolute;
    font-size: 11rem;
    line-height: 1;
    left: -9px;
    top: -1rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif; }

@media screen and (max-width: 900px) {
  .review {
    margin-bottom: 2.5rem; } }

.cta {
  padding: 3rem 0;
  text-align: center; }
  .cta__book-now {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300; }

.btn {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  border: 2rem;
  overflow: hidden;
  background: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  width: 20rem;
  height: 6rem;
  display: inline-block;
  cursor: pointer;
  position: relative; }
  .btn:focus {
    outline: none; }
  .btn > * {
    display: block;
    text-align: center;
    transition: all 0.12s ease-out; }
  .btn__hidden {
    width: 100%;
    position: absolute;
    top: -0.8rem;
    left: 50%;
    transform: translate(-50%, -50%); }
  .btn:hover .btn__hidden {
    transition: all 0.12s ease-in;
    top: 50%; }
  .btn:hover .btn__visible {
    transition: all 0.12s ease-in;
    opacity: 0; }
  .btn:hover {
    background: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
