*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.mb-s {
  margin-bottom: 2rem; }

.mb-m {
  margin-bottom: 4rem; }

.mb-l {
  margin-bottom: 6rem; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 3.8rem;
  font-style: italic;
  line-height: 1; }
  .heading-2_light {
    color: #f9f7f6; }
  .heading-2_dark {
    color: #54483a; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4_light {
    color: #f9f7f6; }
  .heading-4_dark {
    color: #54483a; }

.sidebar {
  background-color: #c69963;
  grid-row: 1 / -1; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 7rem 5rem; }

.nav {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  align-items: center; }
  .nav__link {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 1rem 1.5rem;
    transition: all 0.12s ease-out; }
    .nav__link:hover {
      transition: all 0.12s ease-in;
      background-color: rgba(255, 255, 255, 0.05); }

.copyright {
  text-align: center;
  color: #aaa;
  font-size: 1.3rem;
  margin-top: 3rem; }

.header {
  background-color: #54483a;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  align-items: start; }

.feature {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: min-content 1fr; }
  .feature .heading-4 {
    align-self: center; }
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem; }
  .feature__text {
    font-size: 1.7rem;
    grid-column: 2 / 3; }

.story__pictures {
  background-color: #c69963;
  background-image: url(../img/back.jpg);
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); }

.story__image_1 {
  width: 100%;
  align-self: center;
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }

.story__image_2 {
  width: 115%;
  grid-column: 4 / 7;
  grid-row: 4 / 6;
  z-index: 20;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4); }

.story__content {
  padding: 4vw 8vw;
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
  display: grid;
  align-content: center;
  justify-items: start; }

.story__text {
  font-size: 1.5rem;
  font-style: italic; }

.homes {
  grid-column: center-start / center-end;
  margin: 13rem 0;
  display: grid;
  gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }

.home {
  background-color: #f9f7f6;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, 1fr); }
  .home__img, .home__like, .home__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .home__img {
    width: 100%; }
  .home__like {
    justify-self: end;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
    fill: #c69963; }
  .home__name {
    align-self: end;
    transform: translateY(50%);
    font-size: 1.5rem;
    background-color: #101d2c;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: 8px 15px;
    text-align: center; }
  .home__location, .home__rooms, .home__area, .home__price {
    padding: 0 2rem;
    display: flex; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      width: 2rem;
      height: 2rem; }
    .home__location p, .home__rooms p, .home__area p, .home__price p {
      font-size: 1.3rem;
      margin-left: 1rem; }
  .home__location, .home__rooms {
    margin-top: 1rem; }
  .home button {
    grid-column: 1 / -1; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  padding: 1.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw); }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
    .gallery__img_1 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2; }
    .gallery__img_2 {
      grid-column: 3 / span 3;
      grid-row: 1 / span 3; }
    .gallery__img_3 {
      grid-row: 1 / span 2; }
    .gallery__img_4 {
      grid-column: 7 / span 2;
      grid-row: 1 / span 2; }
    .gallery__img_5 {
      grid-column: 1 / span 2;
      grid-row: 3 / span 3; }
    .gallery__img_6 {
      grid-column: span 2;
      grid-row: span 2; }
    .gallery__img_7 {
      grid-row: span 3; }
    .gallery__img_8 {
      grid-column: span 2;
      grid-row: span 2; }
    .gallery__img_10 {
      grid-column: span 3;
      grid-row: span 3; }
    .gallery__img_11 {
      grid-row: span 2; }
    .gallery__img_12 {
      grid-column: span 2;
      grid-row: span 2; }
    .gallery__img_13 {
      grid-row: span 2; }
    .gallery__img_14 {
      grid-row: span 2; }

.btn {
  color: white;
  border: none;
  border-radius: 0;
  background-color: #c69963;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.4rem 2.5rem;
  cursor: pointer;
  transition: all 0.12s ease-out; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    transition: all 0.12s ease-in;
    background-color: #b28451; }
