*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden;
}

html {
  // 62.5% of 16px = 10px  ===>  1rem = 10px;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: $grid-container-rows;
  grid-template-columns: [sidebar-start] 6rem $grid-container-columns;
}

.mb-s {
  margin-bottom: 2rem;
}

.mb-m {
  margin-bottom: 4rem;
}

.mb-l {
  margin-bottom: 6rem;
}

@include respond(tab-port) {
  .container {
    grid-template-rows: 6rem minmax(80vh, max-content);
    grid-template-columns: $grid-container-columns;
  }
}
