.logo {
  height: 3.2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;

  &__input {
    width: 80%;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 10rem;
    padding: 0.7rem 2rem;
    margin-right: -3rem;
    transition: all 0.13s ease-out;

    &:focus {
      transition: all 0.13s ease-in;
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}

.user-nav {
  display: flex;

  &__icon-box {
  }
  &__icon {
    height: 2.8rem;
    //width: 2.5rem;
  }
  &__notification {
  }
  &__user {
  }
  &__user-photo {
    height: 3.7rem;
    border-radius: 50%;
  }
  &__user-name {
  }
}
