/* Header Start */

.logo {
  height: 3.2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    width: 80%;
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 10rem;
    padding: 0.7rem 2rem;
    margin-right: -3rem;
    transition: all 0.13s ease-out;

    &:focus {
      transition: all 0.13s ease-in;
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.user-nav {
  align-self: stretch;
  display: flex;

  > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;
    transition: all 0.13s ease-out;

    &:hover {
      transition: all 0.13s ease-in;
      background-color: var(--color-grey-light-2);
    }
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    position: absolute;
    top: 1rem;
    right: 1rem;;
    font-size: 0.8rem;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    color: white;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.7rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

/* Header End */


/* Side-nav Start */



/* Side-nav End */
