.container {
  width: 80%;
  margin: 6rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 4rem 10rem rgba(#000, 0.4);
  border-radius: 4px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;

  height: 6rem;
  background-color: white;
  border-bottom: var(--line);
}

.content {
  display: flex;
  min-height: 80vh;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background-color: white;
  flex: 1;
}

.detail {
  display: flex;
  padding: 4rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  background-color: white;
  box-shadow: $shadow-light;
  flex: 0 0 60%;
  margin-right: 4rem;
  padding: 2.5rem;
}

.user-reviews {
  background-color: lightgreen;
  flex: 1;
}
