.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  cursor: pointer;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  padding-bottom: 2px;
  display: inline-block;
  transition: all 0.12s ease-out;

  &:focus {
    outline: none;
    //animation: pulsate .8s infinite;
  }

  &:hover {
    transition: all 0.12s ease-in;
    color: var(--color-grey-dark-1);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.03);
    box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
