.features {
  grid-column: center-start / center-end;
  margin: 13rem 0;

  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  align-items: start;

  @include respond(tab-port){
    margin: 10rem 0;
  }
}

.feature {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: min-content 1fr;

  .heading-4 {
    align-self: center;
  }

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
  }

  &__text {
    font-size: 1.7rem;
    grid-column: 2 / 3;
  }
}
