.header {
  background-color: $color-grey-dark-1;
  background-image: linear-gradient(
      rgba($color-secondary, 0.9),
      rgba($color-secondary, 0.9)
    ),
    url(../img/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: full-start / col-end 6;
  padding: 4rem 8rem;

  display: grid;
  gap: 1.5rem 0;
  grid-template-rows: 1fr min-content 6rem 1fr;

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    justify-self: start;
    align-self: start;
  }

  &__seen-on-text {
    color: $color-grey-light-2;
    display: grid;
    gap: 0 1.6rem;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color:  currentColor;
    }
  }

  &__seen-on-logos {
    display: grid;
    gap: 3rem 0;
    grid-template-columns: repeat(auto-fit, minmax(18.4rem, 1fr));
    justify-items: center;

    img {
      height: 2.5rem;
      filter: brightness(70%);
    }
  }
}
