.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);

  &__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__location {
    display: flex;
    font-size: 1.2rem;
  }

  &__icon-location {
    margin-right: 6px;
  }

  &__icon-star,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__rating {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-primary);
    margin-left: 2.6rem;
    padding: 0 2rem;
    text-align: center;
    color: white;
  }

  &__rating-average {
    font-size: 2.1rem;
  }

  &__rating-count {
    font-size: 7px;
    text-transform: uppercase;
  }
}
