.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 2rem;

  display: grid;
  align-content: center;

  &__heading {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__list {
    display: grid;
    gap: 2rem;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }

  &__img {
    display: block;
    height: 6rem;
    border-radius: 50%;
  }

  &__sold {
    margin-top: -3px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $color-grey-light-2;
  }
}
