.recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  &__photo {
    height: 4rem;
    border-radius: 50%;
    border: 3px solid white;
    box-sizing: content-box;

    &:not(:last-child) {
      margin-right: -1.15rem;
    }
  }
  
  &__friends {
    flex: 0 0 40%;
  }
}
