.story {
  &__pictures {
    background-image: linear-gradient(
        to right,
        rgba($color-primary, 0.4),
        rgba($color-primary, 0.4)
      ),
      url(../img/back.jpg);
    grid-column: full-start / col-end 4;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  &__image_1 {
    width: 100%;
    align-self: center;
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: 0.2);
  }

  &__image_2 {
    width: 115%;
    grid-column: 4 / 7;
    grid-row: 4 / 6;
    z-index: 20;
    box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: 0.4);
  }

  &__content {
    padding: 4vw 8vw;
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;

    // Center contents using Flexbox
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */

    // Center contents using Grid
    display: grid;
    align-content: center;
    justify-items: start;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
  }
}
